@using MedioClinic.Models.InlineEditors
@using MedioClinic.Models.Widgets
@using CMS.DataEngine;
@using CMS.CustomTables;
@using CMS.EventLog;
@model MedioClinic.Models.Widgets.CustomTableWidgetViewModel


@{
    bool editMode = Context.Kentico().PageBuilder().EditMode;
}

<head>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
</head>

@if (editMode)
{
    Html.RenderPartial("InlineEditors/_CustomTableEditor", new CustomTableEditorViewModel
    {
        CustomTableCodeName = Model.CustomTableCodeName,
        MaxRows = Model.MaxRows,
        OrderBy = Model.OrderBy
    });
}
else
{
    var customeTableName = "MedioClinic.Diseases";
    try
    {
        var customTable = CustomTableItemProvider.GetItems(customeTableName);
        var firstObj = customTable.FirstOrDefault();

        if (firstObj != null)
        {
        <table class="table row-hover table-border row-border mt-4" data-horizontal-scroll="true" id="example" data-role="table" data-pagination="true" data-rownum="true">
            <thead>
                <tr>
                    @foreach (var column in firstObj.ColumnNames)
                    {
                        if (column.StartsWith("Item"))
                        {
                            continue;
                        }
                        else
                        {
                            <th class="sortable-column">@column</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in customTable)
                {
                    <tr>
                        @foreach (var column in item.ColumnNames)
                        {
                            if (column.StartsWith("Item")) {
                                continue;
                            }
                            else
                            {
                                <td>@item.GetValue(column)</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        }
    }
    catch (Exception ex)
    {
        EventLogProvider.LogException("Custom Table Widget", "EXCEPTION", ex, CMS.SiteProvider.SiteContext.CurrentSite.SiteID, string.Format("The following is not a valid custom table code name: {0}.", customeTableName));
    }

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
}